{% extends "base.html" %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'pages/single.css' %}"> {% endblock %} {% block content %} {% load user_filters %}

    <main class="main container">
     
        <div class="single-card__info" >
          <div class="single-card__section">

            <h3 class="single-card__section-title"></h3>
           
            
            <p class=" single-card__section-text">Вы вышли из системы </p>
            
            
        </div>

        </div>
     
    </main>
    <footer class="footer">


{% endblock %}
