<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}">
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
</head>
<body class="body">
<header class="header">
    <nav class="nav">
        <div class="nav__container container">
            <ul class="nav__items list">
                <li class="nav__item nav__item_disabled"><a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
                
            </ul>
            <ul class="nav__items list">
                <li class="nav__item"><a href="{% url 'login' %}" class="nav__link link">Войти</a></li>
                
            </ul>
        </div>
    </nav>
</header>
<main class="main container">
    <div class="main__header">
    <h1 class="main__title">Регистрация</h1>
    </div>
    <div class="form-container">
        
        <form class="form" method="post" action="{% url 'signup' %}"> 
            {% csrf_token %}
            <div class="form__group">
                <label for="id_first_name" class="form__label">Имя</label>
                <div class="form__field-group">
                    <input type="text" name="first_name" placeholder="Ваше Ф.И.О" id="id_first_name" class="form__input" required>
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="id_username" class="form__label">Имя пользователя</label>
                <div class="form__field-group">
                    <input type="text" name="username" placeholder="Придумайте nickname" id="id_username" class="form__input" required>
                    <span class="form__error">
                    </span>
                </div>
            </div>
            <div class="form__group">
                <label for="id_email" class="form__label">Адрес электронной почты</label>
                <div class="form__field-group">
                    <input type="email" name="email" placeholder="Укажите свою электронную почту" id="id_email" class="form__input" required>
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="id_password" class="form__label">Пароль</label>
                <div class="form__field-group">
                    <input type="password" placeholder="Придумайте пароль" name="password1" id="id_password1" class="form__input" required>
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="id_password" class="form__label">Повторить пароль</label>
                <div class="form__field-group">
                    <input type="password" placeholder="Подтвердите пароль" name="password2" id="id_password2" class="form__input" required>
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__footer">
                <button type="submit" class="button button_style_blue">Создать аккаунт</button >
            </div>
        </form>
    </div>
​
​
</main>
<footer class="footer">
    {% include 'includes/footer.html' %}  
</footer>
</body>
</html>