{% extends "base.html" %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'pages/single.css' %}" /> {% endblock %} {% block content %} {% load user_filters %}

<main class="main container">
    <div class="single-card" data-id={{ recipe.id }} data-author={{ recipe.author }}>
        <img class="single-card__image" src="{% static 'images/me.jpg' %}" />
        <div class="single-card__info">
            <div class="single-card__section">
                <h3 class="single-card__section-title">Об авторе</h3>
                <p class="single-card__section-text">
                    ________________________________________________________________________________________________
                </p>

                <p class="single-card__section-text">
                    Добрый день, меня зовут Константин!
                </p>
                <p class="single-card__section-text">
                    Я начинающий junior python разработчик
                </p>
                <p class="single-card__section-text">
                    Этот сайт я сделал для дипломной работы в Yandex.Praktikum
                </p>
                <p class="single-card__section-text">
                    Мой GitHub с другими моими проектами: https://github.com/zerobubus/
                </p>
                <p class="single-card__section-text">
                    _________________________________________________________________________________________________
                </p>
            </div>
        </div>
    </div>
</main>

{% endblock %}
