<!doctype html>
<html lang="en">
    {% load static %}
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Французские тосты</title>
    <link rel="stylesheet" href="{% static 'pages/single.css' %}">
</head>
<body class="body">
<header class="header">
    {% include 'includes/nav.html' %}
</header>
    <main class="main container">
      <div class="single-card" data-id={{recipe.id}} data-author={{recipe.author}}>
        <img class="single-card__image" src="{% static 'images/me.jpg' %}" />
        <div class="single-card__info" >
          <div class="single-card__section">

            <h3 class="single-card__section-title">Об авторе</h3>
            <p class=" single-card__section-text"> ________________________________________________________________________________________________</p>
            
            <p class=" single-card__section-text">Добрый день, меня зовут Константин!</p>
            <p class=" single-card__section-text">Я начинающий junior python разработчик</p>
            <p class=" single-card__section-text">Этот сайт я сделал для дипломной работы в Yandex.Praktikum</p>
            <p class=" single-card__section-text">Мой GitHub с другими моими проектами: https://github.com/zerobubus/ </p>
            <p class=" single-card__section-text"> _________________________________________________________________________________________________</p>
        </div>

        </div>
      </div>
    </main>
    <footer class="footer">
        {% include 'includes/footer.html' %}  
    </footer>


</body>
</html>


