{% extends "base.html" %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'pages/single.css' %}"> {% endblock %} {% block content %} {% load user_filters %}
<main class="main container">
    <div class="single-card">
        <img class="single-card__image" src="{% static 'images/django.jpg' %}" />
        <div class="single-card__info">
            <div class="single-card__section">

                <h3 class="single-card__section-title">Используемые технологии</h3>
                <p class=" single-card__section-text"> _________________________________________________________________________________</p>

                <p class=" single-card__section-text">Для создания этого сайта были использованы следующие программы:</p>
                <p class=" single-card__section-text">PYTHON</p>
                <p class=" single-card__section-text">DJANGO</p>
                <p class=" single-card__section-text">DOCKER</p>
                <p class=" single-card__section-text">LINUX</p>
                <p class=" single-card__section-text"> __________________________________________________________________________________</p>
            </div>

        </div>
    </div>
</main>
{% endblock %}
